<h1>Examples</h1>

<h2>Rest-Client</h2>

<pre style="word-wrap: break-word; white-space: pre-wrap;">
  <%= @rest_client_response.body %>
</pre>

<h2>Faraday</h2>

<pre style="word-wrap: break-word; white-space: pre-wrap;">
  <%= @faraday_response.body %>
</pre>

<h2>Net::HTTP</h2>
<pre style="word-wrap: break-word; white-space: pre-wrap;">
  <%= @net_http_response.body %>
</pre>
